.icon-nes { background-image: url('png/nes.png'); background-repeat: no-repeat; }

.icon-nes2 { background-image: url('png/nes2.png'); background-repeat: no-repeat; }

.icon-snes { background-image: url('png/snes.png'); background-repeat: no-repeat; }

