html, body
  height 100vh
  margin 0
  padding 0
  background #343434
  color #EEE
  overflow hidden
  
a
	text-decoration none !important

.text-8bit 
	font-family 'Press Start 2P'

.ch-brand
	position absolute
	right 2vw
	top 2vh
	color #FD4949
	font-family 'Press Start 2P'

.screen-center
	padding-top 20vh
	width 30vw 
	margin 0 auto
	text-align center 

.console-list 
	width 30vw
	margin 0
	padding 0
	
	.console-list-item
		list-style-type none
		padding 0
		margin 0
		& > a
			font-size 40vh
			color #E9EAD8 !important

