html, body
	height 100vh
	margin 0
	padding 0
	background #343434
	color #E9EAD8
	overflow hidden
  
a
	color #E9EAD8
	text-decoration none !important
	&:visited, &:active
		color #E9EAD8

.text-8bit 
	font-family 'Press Start 2P'

.ch-brand
	position absolute
	right 2vw
	top 2vh
	color #FD4949
	font-family 'Press Start 2P'

.screen-center
	padding-top 20vh
	width 30vw 
	margin 0 auto
	text-align center 

.console-list 
	width 30vw
	margin 0
	padding 0
	height 45vh
	position relative
	
	.console-title
		font-size 4vh
		margin-top 0
		margin-bottom 1vh
		opacity 0
		transition opacity 0.2s linear
		color #E9EAD8
	
	.console-list-item
		list-style-type none
		padding 0
		margin 0
		top 0
		opacity 0.3
		height 45vh
		max-height 45vh
		width 100%
		transition all 0.5s ease-in-out
		
		
		&.active
			opacity 1.0

			.console-title 
				opacity 1.0 !important
		
		a 
			display block
			height 100%
			min-width 100%
			background-size 100% 100%
			
			& > b.ci-icon
				//font-size 40vh
				color #E9EAD8 !important
